{% extends 'base.html.twig' %}

{% block title %}
	Hello Association
{% endblock %}

{% block body %}

	<div class="container text-center mt-5 bg-dark">
		<h1 class="p-5 text-white">Liste des Associations</h1>
		<div class="d-flex start-flex p-4 ">
			<label class="text-white " for="search">Recherche</label>
			<input name="search" type="text">
			<input type="submit">
		</div>
		<ul class="p-4">
			<li class="row bg-white m-2 rounded">
				<p class="col-4">Name</p>
				<p class="col-4">Email</p>
				<p class="col-4">Téléphone</p>

			</li>
			{% for asso in association %}
				<li class="row bg-white m-2 rounded">
					<p class="col-4">{{ asso.name }}</p>
					<p class="col-4">{{ asso.email }}</p>
					<p class="col-4">{{ asso.telephone }}</p>
					{% if is_granted("ASSOCIATION_EDIT", asso) %}
						<button type="button">Edit Me!</button>
					{% endif %}
					{% if is_granted("ASSOCIATION_DELETE", asso) %}
						<button type="button">Delete Me!</button>
					{% endif %}

				</li>
			{% endfor %}

		</ul>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}
