{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Information association
{% endblock %}

{% block body %}
	{{dump(association)}}
	<h1>{{ association.name }}</h1>

	<hr>

	<div class="row">
		<div class="col-6">
			<p>{{ association.email }}</p>
		</div>
		<div class="col-6">
			<p>{{ association.telephone }}</p>
		</div>

	</div>

{% endblock %}
