{% extends 'base.html.twig' %}

{% block title %}Modifier une association
{% endblock %}

{% block body %}
	<h1>Modifier
		{{ associationName }}</h1>

	<hr>

	{{ form(updateAssociationForm) }}{% endblock %}
