{% extends 'base.html.twig' %}

{% block title %}Modifier une association| Mettray
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Ajouter l'association "{{ associationName }}"</h1>

		{{ include('association/_form.html.twig') }}

	</div>
{% endblock %}
