{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
{{dump(data)}}
<div class="container" style="width: 548px; margin: 5rem"><div id="calendar-holder"></div></div>
{% endblock %}
