{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col">
				{% if app.user %}
					<h2 class="m-4">Associations</h2>
					{% for associations in asso %}
						{% for assoUser in associations.associationUsers %}
							{%  if app.user.id == assoUser.user.id%}
								<div class="m-3 card" style="width: 18rem;">
									<div class="card-header">
										<h3>{{associations.name}}</h3>
									</div>
									<ul class="list-group list-group-flush">
										{% for rooms in associations.roomAssociations %}
											<li class="list-group-item">
												Salle :
												<a href="{{path("main_room",{'id': rooms.room.id})}}" class="text-white btn btn-secondary">{{rooms.room.name}}</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endif %}
			</div>
			{# <ul class="nav nav-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Aloha</div>
							<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
							<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
						</div>
					</div> #}
			<div class="col">
				<h2 class="m-4 text-center">Salle:
					{{room.name}}</h2>
				<div class="p-0 container" style="width: 548px; margin: 5rem">
					<div id="calendar-holder"></div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
