{% extends 'base.html.twig' %}

{% block title %}Mes salles | Mettray
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row d-flex justify-content-center mt-2">
			<div class="text-center">
				<div>
					<a href="{{ path('main') }}" class="btn fc-button-primary">Retour à la liste des salles</a>
					<h2 class="mt-3 text-center text-ter">Salle:
						{{roomid.name}}
					</h2>
					<a href="{{ path("booking_new", {'room': roomid.id}) }}" class="btn fc-button-primary">Réserver</a>
						<div id="calendar-holder"></div>
				</div>
			</div>
			<div class="row">
				<div class="p-0 container col">
					<div id="calendar-holder"></div>
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content text-ter">
								<div class="modal-header bg-prim text-white">
									<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body text-ter">
									<p id="date"></p>
									<p id="phone"></p>
									<p id="email"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn bg-sec text-ter" data-bs-dismiss="modal">Fermer</button>
									<a id='edit-booking' type="button" class="btn bg-prim text-white">Editer</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endblock %}
