{% extends 'base.html.twig' %}

{% block title %}Modifier une salle | Mettray
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Modifier la salle "{{ roomName }}"</h1>

		{{ include('room/_form.html.twig') }}

	</div>
{% endblock %}
