{% extends 'base.html.twig' %}

{% block title %}Ajouter une location
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Ajouter une location</h1>

		<hr>

		{{ form(addLocationForm) }}
		</div>
	{% endblock %}
