{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Ajouter une localisation

{% block body %}
	<div class="container">
		<h1 class="text-center">Ajouter une adresse</h1>

		<hr>

		{{ form(addLocationForm) }}
		</div>
	{% endblock %}
