{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Ajouter une localisation{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Ajouter une adresse</h1>

		{{ include('location/_form.html.twig') }}

	</div>
{% endblock %}
