{% extends 'base.html.twig' %}

{% block title %}Modifier une location
{% endblock %}

{% block body %}
	<h1>Localisation</h1>

	{{ include('location/_form.html.twig', {'button_label': 'Update'}) }}
		<div class="col-4">
			<a class="btn btn-dark" href="{{ path('location') }}">Retour à la liste</a>
		</div>
{% endblock %}
