{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Le site des localisations
{% endblock %}

{% block body %}
	<h1>Localisation</h1>

	{{ include('location/_form.html.twig', {'button_label': 'Update'}) }}
	<div class="col-4">
		<a class="btn btn-dark" href="{{ path('room') }}">Retour à la liste</a>
	</div>
{% endblock %}
