{% extends 'base.html.twig' %}

{% block title %}Modifier une location
{% endblock %}

{% block body %}
	<h1>Localisation</h1>

	{{ include('location/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('location') }}">back to list</a>

	<div class="col-4">
		<a class="badge rounded-pill bg-danger" href="/locationss/{{ locationId }}/delete">Delete</a>
	</div>
{% endblock %}
