{% extends 'base.html.twig' %}

{% block title %}Modifier une localisation | Mettray
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Modifier l'adresse "{{ locationName }}"</h1>

		{{ include('location/_form.html.twig') }}

	</div>
{% endblock %}
