{% extends 'base.html.twig' %}

{% block title %}Modifier une location
{% endblock %}

{% block body %}
    <h1>Localisation</h1>

    {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('location') }}">back to list</a>

    {{ include('location/_delete_form.html.twig') }}
{% endblock %}
