{% extends 'base.html.twig' %}

{% block title %}Modifier une réservation| Mettray
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Modifier la réservation "{{ bookingName }}"</h1>

		{{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
{% endblock %}
