{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Modifier une réservation
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Modifier une Réservation</h1>

		{{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}
	</div>
{% endblock %}
