{% extends 'base.html.twig' %}

{% block title %}Edit booking{% endblock %}

{% block body %}
    <h1>Edit booking</h1>

    {{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('booking') }}">back to list</a>

    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
 