{% extends 'base.html.twig' %}

{% block title %}Edit booking
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">Edit booking</h1>

		<hr>

		{{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}

		<div class="row">
			{{ include('booking/_delete_form.html.twig') }}
			<a class="btn btn-light" href="{{ path('booking') }}">back to list</a>
		</div>
	</div>
{% endblock %}
