{% extends 'base.html.twig' %}

{% block title %}booking index
{% endblock %}

{% block body %}
	<h1>booking index</h1>
<div class="container" style="width: 400px; margin: 5rem"><div id="calendar-holder"></div></div>

{% endblock %}
