{% extends 'base.html.twig' %}

{% block title %}Ajouter une réservation | Mettray
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Créer une Réservation pour la salle "{{ room }}"</h1>

		{{ include('booking/_form.html.twig') }}

	</div>
{% endblock %}
