{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Ajouter une réservation
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer une Réservation</h1>

		{{ include('booking/_form.html.twig') }}

	</div>
{% endblock %}
