{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Mofication
{% endblock %}

{% block body %}
	<h1>Modifier
		{{ userLastname }}</h1>
	<hr>
	{{ form(updateUserForm) }}{% endblock %}
