.bg-prim {
    background-color: #13b1b9 !important;
}
.bg-sec{
    background-color: #fbba0e !important;
}
.bg-ter {
    background-color: #006767 !important;
}
.text-prim{
    color: #13b1b9 !important;
}
.text-sec{
    color: #fbba0e !important;
}
.text-ter{
    color: #006767 !important;
}
.border-prim{
    border-color: #13b1b9 !important;
}
.border-sec{
    border-color: #fbba0e !important;
}
.border-ter{
    border-color: #006767 !important;
}
.text-bold{
    font-size: large;
    font-weight: bold;
}
label.required:before {
    color: red;
    content: "* ";
}
.fc-button-primary:hover, .nav-link:hover {
    background-color: #FFFFFF !important;
    border-color: #13b1b9 !important;
    color: #13b1b9 !important;
}
.fc-button-primary {
    background-color: #13b1b9 !important;
    border-color: #13b1b9 !important;
    color: white !important;
}
.fc-button-primary.fc-button-active, .nav-link:hover.active {
    background-color: #006767 !important;
    border-color: #006767 !important;
}
.nav-link.text-sec:hover{
    background-color: #fbba0e !important;
    color: white !important;
}
.fc-button-primary.fc-button-active:hover {
    background-color: #006767 !important;
    border-color: #006767 !important;
    color: white !important;
}
.fc-today{
    background-color: #fbba0e !important;
    color: white !important;
}
.fc-center{
    color: #006767 !important;
}
.fc-view{
    border-color: #006767 !important;
}
.fc-widget-header span, .fc-view-container {
    color: #006767 !important;
}
.btn-ter{
    background-color: #006767 !important;
    border-color: #006767 !important;
    color: white !important;
}
.btn-ter:hover{
    background-color: white !important;
    border-color: #006767 !important;
    color: #006767 !important;
}
.table-perso{
    --bs-table-bg:#13b1b9 !important;
    --bs-table-striped-bg: white !important;
    --bs-table-striped-color:#006767 !important;
    --bs-table-active-bg:#006767 !important;
    --bs-table-active-color:white !important;
    --bs-table-hover-bg:#fbba0e !important;
    --bs-table-hover-color:white !important;
    border-color:#006767 !important;
    color:#006767 !important;
}