{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Ajouter un utilisateur
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-ter">Modifier le profil de </h1>

		{{ include('user/_form.html.twig') }}
	</div>
{% endblock %}

