{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1 class="text-center">Modifiez mon profil</h1>
	<div class="container">

		{{ include('user/_form.html.twig') }}


		<a class="btn btn-secondary" href="{{ path('user_index') }}">Revenir au profil</a>

	</div>
{% endblock %}
