{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Réinitialiser le mot de passe
{% endblock %}

{% block body %}

	<h1 class="text-center">Modifier le profil</h1>
	<div class="container">
		{{ form(UserUpdateForm) }}
			<a class="btn btn-secondary" href="{{path('user_show',{'id': user.id})}}">Revenir au profil</a>
		</div>
	{% endblock %}
