<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Mail</title>
	</head>
	<body>
		<section class="module">
			<div class="container">
				<h2 class="module-title">Les modules de la formation</h2>
				<div class="module-grid">
					<ul class="module-list" role="list">
						<li class="module-list-item">

							<article class="card">
								<img src="img/Photo-1_resultat.webp" alt="écran avec du code" class="card-img">
								<div class="card-content">
									<h3 class="card-title">Module HTML/CSS</h3>
									<p class="card-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, …</p>

								</div>
								<a href="module.php" class="card-link">Lire la suite<img class="card-link-img" src="img/Icon-feather-arrow-right-circle-3.svg" alt=""></a>
							</article>
						</li>
						<li class="module-list-item">

							<article class="card">
								<img src="img/Photo_resultat.webp" alt="bureau avec clavier" class="card-img">
								<div class="card-content">
									<h3 class="card-title">Module JavaScript</h3>
									<p class="card-desc">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, …</p>

								</div>
								<a href="module.php" class="card-link">Lire la suite<img class="card-link-img" src="img/Icon-feather-arrow-right-circle-3.svg" alt=""></a>
							</article>

						</li>
					</ul>
				</div>
			</div>
		</section>
	</body>
</html>
