{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1>Créer un nouvel utilisateur</h1>

		{{ include('experience /_form.html.twig') }}

		<a href="{{ path('user') }}">Retour à la liste</a>
	</div>
{% endblock %}
