{% extends 'base.html.twig' %}

{% block title %}La mairie de Mettray | Ajouter un utilisateur
{% endblock %}

{% block body %}
	<div class="container ">
		<h1>Ajouter un utilisateur</h1>

		{{ include('user/_form.html.twig') }}
	</div>
{% endblock %}
