{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe | Mettray
{% endblock %}

{% block body %}
	<h1 class="text-center">Réinitialiser le mot de passe</h1>
	<div class="container">
		{{ form_start(update_password_form) }}
		{{ form_row(update_password_form.password) }}
		<button class="btn btn-primary">Réinitialiser le mot de passe</button>
		{{ form_end(update_password_form) }}
	</div>
{% endblock %}
